@font-face {
    font-family: NintendoSymbols;
    src: url(NintendoExt003.ttf);
    @font-face {
    font-family: Emoji;
    src: url(TWITTERCOLOREMOJI-SVGINOT.TTF);
    h2 {
   font-family: Arial, NintendoSymbols, Emoji;
    }
